@font-face {
  font-family: Poppins-Regular;
  src: url('./fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('./fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('./fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('./fonts/montserrat/Montserrat-Bold.ttf');
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: none;
}

input {
	outline: none;
	border: none;
}

select {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus, select:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

select:focus::-webkit-input-placeholder { color:transparent; }
select:focus:-moz-placeholder { color:transparent; }
select:focus::-moz-placeholder { color:transparent; }
select:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

select::-webkit-input-placeholder { color: #999999; }
select:-moz-placeholder { color: #999999; }
select::-moz-placeholder { color: #999999; }
select:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

*,
*:before,
*:after {
  box-sizing: border-box;
}



.App {
  margin: 0 auto;
  padding-top: 45px;
  }

.nav{
font-family: Poppins-Bold;
position: fixed;
top: 0;
left: 0;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
height: 45px;
background: #FFFFFF;
transition: 0.3s;
}

.nav.scrolled-down {
  height: 80px;
  box-shadow: 0 10px 50px rgba(0,0,0,0.14); 
  }

.nav.scrolled-down img{
  scale: 1.25;
}

.nav img {
  width: 75px;
  height: 75px;
  margin: 5px 20px;
  transform-origin: 0% 50%;
  transition: 0.3s;
}

.links{
  display: flex;
  gap: 16px;
}

.nav-conteiner{
  margin: 0 10%;
  width: 80%;
}

.nav-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #57b846, #4158d0);
  background: -o-linear-gradient(-135deg, #57b846, #4158d0);
  background: -moz-linear-gradient(-135deg, #57b846, #4158d0);
  background: linear-gradient(-135deg, #57b846, #4158d0);
}

.wrap {
  width: 990px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 3px 40px 10px;
}

.form-logo {
  display: flex;
  flex-direction: column;
  width: 336px;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  width: 200px;
  margin: 10px 5px 20px 5px;
}

.form {
  width: 640px;
}

.head {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 10px;
}


.field {
  display: flex;
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.inputLabel, .inputSelect{
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 15px;
  padding: 0 18px 0 18px;
  padding-right: 10px;
}



/*
.focus-input {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}

.focus-select {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}

.inputLabel:focus + .focus-input {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

.inputSelect:focus + .focus-Select {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}
*/

.symbol-input100 {
  font-size: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 28px;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.formRadio {
  font-family: Poppins-Bold;
  width: 100%;
  max-width: 100%;
  height: 50px;
  font-size: 18px;
  padding: 15px 0px 25px 5px;
}

.fields-container {
  padding: 10px 15px 10px 10px;
  width: 100%;
}



.space {
  padding-left: 10px;
}

.field-step {
  margin-bottom: 30px;
  margin-top: 20px;
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 5px;
  justify-content: space-between;
}
.button {
  font-family: Poppins-Medium;
  background-color: #2D9A2E;
  display: inline-block;
  width: 90px;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  border: 0px;
  padding: 10px;
}

.focus-button {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}
.button:active + .focus-button {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}
/*
.button:hover {
  background-color: #3e8e41
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
*/


.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

/*fim*/